body{
    background-color: rgb(212, 212, 212);
    margin: 0;
    padding-bottom: 30px;
    font-family: 'gadugi';
}

.content{
    height: 520px;
    width: 710px;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
    border: 10px solid #333333;
}

.content h1{
    text-align: justify;
    font-size: 25px;
    font-weight:lighter;
    margin: 10px;
}

img{
    width: 100px;
    height: 100px;
    padding-top: 130px;
    padding-left: 50px;
}